* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
}

body {
    font-family: 'Raleway', sans-serif;
    color: #222; 
    text-decoration: none; 
    background-color: white; 
    width: 100%;
    display: flex; 
    flex-flow: row wrap;
}

/* .container {
    width: 100%;
    display: flex; 
    flex-flow: row wrap;
} */

header {
    background: linear-gradient(90deg, #fffb00 0%, #17dcff 100%);
    width: 100%;
    display: flex; 
    flex-flow: row wrap;
    top: 0px; 
    
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap; 

}

.brand-title {
    font-size: 1.5rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center; 
}

.brand-title h1 {
    font-weight: bold; 
    font-size: 3rem; 
    padding: 1rem;
}


.main-icon{
    height: 80px;
}

.navbar-links ul {
    margin:0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.navbar-links li{
    list-style: none;
    border-radius: 1rem; 
}

.navbar-links li a {
    text-decoration: none;
    font-size: 1.5rem; 
    color: #222; 
    padding: 1rem;
    display: block; 
}

.navbar-links li:hover {
   /*  background-color: greenyellow; */
    border: 1px solid white; 
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #222;
    border-radius: 10px ;
}

@media (max-width:400px) {

    .brand-title h1{
        font-weight: bold; 
        font-size: 1.5rem; 
        padding: 1rem;
        align-self: flex-start; 
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .navbar-links li{
        text-align: center;
    }

    .navbar-links li a{
        padding: .5rem 1rem;
        font-size: 1rem; 
    }

    .navbar-links.active{
        display: flex;
    }

} 


main {
    width: 100%;
    display: flex; 
    flex-flow: row wrap;
}

.intro-container {
    width: 100%;
    font-size: 1.3rem; 
    text-align: center;  
    padding: 5rem;  
    line-height: 3rem;  
}

.fixed-bar {
    display: flex; 
    width: 100%;
    flex-flow: row wrap; 
    justify-content: center; 
    align-content: center; 
    background-color: #222;
    padding: 1rem 0rem; 
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
}

.fixed-bar form {
    display: flex; 
    justify-content: center;
    width: 100%;
}


.search-bar {
    border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    border: 1px solid #222; 
    padding: 0.4rem; 
    font-size: 1.2rem; 
    outline: none; 
    width: 80%;
}

select {
    border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    border: 1px solid #222; 
    padding: 0.4rem; 
    font-size: 1.2rem; 
    outline: none; 
    width: 35%;
    margin-top: 0.5rem;
}

.filter-by-species {
    margin-right: 1rem;
}

li {
    list-style-type: none;
} 

.cards-container {
    display: flex; 
    width: 100%;
    flex-flow: row wrap;
    background-color: whitesmoke;
    justify-content: center; 
    align-items: center; 
}

.cards-container ul {
    display: flex; 
    flex-flow: row wrap; 
    justify-content: center; 
    align-items: center; 
}


.card{
    width: 25%;
    margin: 2rem; 
    background-color: white; 
    color: #222; 
    border-radius: 1rem;
    -moz-border-radius: 1rem;
    -webkit-border-radius: 1rem;
    display: flex; 
    flex-flow: column; 
    justify-content: flex-start; 
    align-items: center;
    line-height: 2rem;  
    border: 1px solid #222; 

}


.name {
    font-weight: bold;
    font-size: 1.7rem; 
    align-self: center; 
}


.name-character {
    background-color: #00ff6a;
    width: 100%; 
    display: flex; 
    flex-flow: row nowrap; 
    justify-content: center; 
    padding: 0.5rem; 
    border-radius: inherit; 
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


.photo-character {
    display: flex; 
    justify-content: flex-start;
}


.photo {
    width: 100%;
    margin-top: 1rem; 
}


.information-column {
    width: 15rem;
    display: flex; 
    flex-direction: row wrap; 
    align-items: center; 
    justify-content: center; 
    padding: 3rem; 
}


footer {
    width: 100%;
    display: flex; 
    flex-wrap: wrap; 
    flex-direction: column; 
    align-content: center; 
    background-color: #222;
    padding: 1rem; 
    color: #F1C40F;
}

.social, .authors {
    display: flex; 
    flex-flow: row nowrap; 
    justify-content: center;
    align-items: center;
    color: #F1C40F;    
}

.social {
    width: 50%; 
    align-self: center; 
}


.social a {
    margin: 1.5rem; 
}


.social a img {
    width: 3rem;
}


.authors {
    width: 100%; 
}


.authors p {
    font-size: 1.3rem; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    letter-spacing: 0.2rem;
    margin-bottom: 1rem; 
    color: white; 
}


