body {
    font-family: sans-serif;
    background-color: white; 
    
}

* {
    box-sizing: border-box;
}

header {
    background-color: rgba(2, 170, 176, 1); 
}

li {
    list-style-type: none;
}

.card{
max-width: 650px;
padding: 20px;
margin: 30px auto;
background-color: whitesmoke;
color: black; 
overflow: hidden;
}


.photo{
    float: left;
    width: 40%;
    margin-right: 15px;
}

.name{
    font-size: 2rem;
    font-weight: normal;
    margin: 0 0 1rem 0;
}